/*================================ this css file export on style.css file====================================*/

/* ********************************************************************************************************
common css property for only about.css file
******************************************************************************************************** */
.border{
    border: 1px solid green !important;
}
.line2{
    width: 20%;
    height: 2px;
    margin: 5px 0;
    background: linear-gradient(to right, #34344a 10%, tomato 10%);
}

/* ********************************************************************************************************
Start about section styling
******************************************************************************************************** */
main .about{
    width: 100%;
}
.about iframe{
    width: 100% !important;
    height: 280px;
}
.about .container small{
    font-size: 12px;
}
.about .btn{
    outline: 1px solid tomato;
    color: tomato;
    transition: all 0.5s;
    margin-top: 10px;
}
.about .btn:hover{
    background-color: tomato;
    color: #fff;
}

/* ********************************************************************************************************
Start Certification section styling
******************************************************************************************************** */
main .certification{
    width: 100%;
}


/* ********************************************************************************************************
Start Believe section styling
******************************************************************************************************** */
main .believe{
    width: 100%;
}
.believe small{
    font-size: 12px;
}