/* =========================================== This CSS Export on Style.css =============================== */

/* ********************************************************************************************************
Start OnlineTraining_main Section stylng
********************************************************************************************************* */
main.onlineTraining_main{
    background: #f4f4f4;
}

.onlineTraining form{
    padding: 20px;
    background: #fff;
}

